<video style="display: block"></video>
<button>click</button>
<script>
  // https://developer.mozilla.org/en-US/docs/Web/API/Streams_API/Using_readable_streams
  function get_stream_reader_from_url(url) {
    return fetch(url)
      .then(res => res.body)
      .then(body => body.getReader())
      .catch(e => {throw e})
  }

  function reader_next_chunck(reader, cb) {
    reader.read().then(result => {
      try {
        cb(result)
      } catch (e) {
        reader.cancel()
        throw e
      }
    }).catch(e => {throw e})
  }

  // https://developer.mozilla.org/en-US/docs/Web/API/MediaSource
  function start_stream_video(url) {
    const video = document.querySelector('video')
    const ms = new MediaSource()
    video.src = URL.createObjectURL(ms)
    ms.addEventListener('sourceopen', function() {
      const sb = this.addSourceBuffer('video/mp4; codecs="avc1.42E01E, mp4a.40.2"')
      get_stream_reader_from_url(url).then(reader => {
        function handle_chunk({ done, value }) {
          if (done) return
          sb.appendBuffer(value)
          console.log(value)
        }
        sb.addEventListener('updateend', () => {
          console.log(sb.buffered)
          ms.endOfStream();
          // reader_next_chunck(reader, handle_chunk)
          // video.play()
        })
        reader_next_chunck(reader, handle_chunk)
      }).catch(e => console.error('failed to load file stream: ' + e))
    })
  }

  document.querySelector('button').onclick = () => {
    start_stream_video('video.mp4')
  }

</script>
